body {
    font-size: 100%;
    font-family: Plus Jakarta Sans, sans-serif;
    background-image: url("images/background.jpg");
    background-size: cover;
    background-color: bisque;
}

h1 {
    color: rgba(38, 70, 82);
}

h2 {
    color: rgba(42, 157, 142);
}

p {
    font-size: large;
}

#wrapper {
    width: 1000px;
    margin: 3% auto;
    padding: 15px 20px 15px 20px;
    background-color: rgba(239, 252, 174, 0.5);
    border: 10px double rgb(207, 150, 7);
    border-radius: 14px;
    box-shadow: 10px 10px 10px 10px rgba(244, 162, 96);
}


#head1 {
    font-size: 3em;
    text-shadow: 0.2em 0.2em 0.2em rgba(231, 111, 81);
    letter-spacing: 1.5px;
    text-align: center;
}

h1 {
    font-size: 4em;
}

h2 {
    font-size: 2em;
}

a {
    text-decoration: none;
}

nav a:hover {
    color: rgba(244, 162, 96);
}

nav {
    font-size: 30px;
    text-align: center;
    background-color: rgba(38, 70, 82);
    margin-right: auto;
    margin-left: auto;
    width: 960px;
    padding: 20px;
    border-radius: 1em;
    padding: 1px;
    outline: 10px dotted rgb(207, 150, 7);
}

nav a {
    color: rgba(231, 111, 81);
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
}

nav li {
    display: inline-block;
    margin-left: auto;
    padding: 0 20px;
}

section {
    border-bottom: dotted;
    border-width: 5px;
    border-color: rgba(233, 196, 106);
}

footer {
    text-align: center;
    color: rgba(38, 70, 82);
    background-color: rgba(231, 111, 81);
    border-radius: 1em;
    padding: 1px;
    outline: 5px dotted rgba(42, 157, 142);
}

a:link {
    color: rgb(3, 100, 34);
}

a:visited {
    color: rgb(125, 2, 2);
}

a:hover {
    color: rgba(244, 162, 96);
}